<!-- =======================
	Start the contact info nav
======================== -->

<!--- open nav section ---->
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
			<a class="navbar-brand">Raleigh &amp; Co.</a>
    </div>
		<!--- close /div ---->

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
					<li>
						<a href="mailto:robert@raleighand.co"
							 class="contact-info-a">
							<i class="fa fa-envelope fa-fw"></i>
							<span>robert@raleighand.co</span>
						</a>
						<!--- close /a ---->
					</li>
					<!--- close /li ---->
					<li>
						<a href="tel:+15035026125"
							 class="contact-info-a">
							<i class="fa fa-phone fa-fw"></i>
							<span>+1 (503) 502-6125</span>
						</a>
						<!--- close /a ---->
					</li>
					<!--- close /li ---->
					<li>
						<a href="tel:+15035026125"
							 class="contact-info-a">
							<i class="fa fa-map fa-fw"></i>
							<span>334 NW 11th Ave</span>
						</a>
						<!--- close /a ---->
					</li>
					<!--- close /li ---->
      </ul>
			<!--- close /ul ---->
    </div>
		<!-- /.navbar-collapse -->
  </div>
	<!-- /.container-fluid -->
</nav>
<!--- close /nav ---->
