<!DOCTYPE html>

<!-- open html -->
<html>

<!-- open head -->

<head>
	<title></title>
</head>
<!-- close /head -->

<!-- open body -->

<body>
	<!-- open form -->
	<form id="estimateForm">
		<!-- open fieldset -->
		<fieldset>
			<label for="firstName">First Name:</label>
			<input id="firstName" name="firstName" type="text" required>
			<label for="lastName">Last Name:</label>
			<input id="lastName" name="lastName" type="text" required>
		</fieldset>
		<!-- close /fieldset -->
		
		<fieldset>
			<label for="phone">Phone:</label>
			<input type="tel" id="phone">
			<label for="email">Email:</label>
			<input type="email" id="email">
		</fieldset>
		<!-- close /fieldset -->
		
		<div id="buttons">
			<input id="overallBtn"
		</div>

		<input type="submit" value="Get an estimate">
		<input type="reset" value="Cancel the form">

	</form>
	<!-- close /form -->

</body>
<!-- close /body -->
<script src="/js/estimate-form.js" type="text/javascript"></script>

</html>
<!-- close /html -->