<!-- =================
	START FOOTER SECTION
================== -->

<!--- OPEN FOOTER SECTION --->
<footer class="dark-gray-bg">
  <div class="container">
		<div class="padded-row">
      <div class="col-md-3">
				<ul class="list-unstyled">
					<li>
						<h3 class="footer-h3 white-text"> Products</h3>
					</li>
					<!-- close /li -->
					<li>
						<a href="/about/" class="footer-a white-text"> Websites</a>
					</li>
					<!-- close /li -->
					<li class="white-text">
						<a href="/products/" class="footer-a"> Storefronts</a>
					</li>
					<!-- close /li -->
					<li class="white-text">
						<a href="/products/" class="footer-a"> Pricing + Packages</a>
					</li>
					<!-- close /li -->
				</ul>
				<!-- close /ul -->
      </div>
			<!---close /div ---->
      <div class="col-md-3">
				<ul class="list-unstyled">
					<li>
						<h3 class="footer-h3 white-text"> Solutions</h3>
					</li>
					<!-- close /li -->
					<li class="white-text">
						<a href="/web-development/" class="footer-a"> Web Development</a>
					</li>
					<!-- close /li -->
					<li class="white-text">
						<a href="/project-management/" class="footer-a"> Project Management</a>
					</li>
					<!-- close /li -->
					<li class="white-text">
						<a href="/product-management/" class="footer-a"> Product Management</a>
					</li>
					<!-- close /li -->
					<li class="white-text">
						<a href="/copywriting/" class="footer-a"> Copywriting</a>
					</li>
					<!-- close /li -->
					<li class="white-text">
						<a href="/branding/" class="footer-a"> Branding</a>
					</li>
					<!-- close /li -->
					<li class="white-text">
						<a href="/products/" class="footer-a"> Pricing + Packages</a>
					</li>
					<!-- close /li -->
				</ul>
				<!-- close /ul -->
      </div>
			<!-- close /div -->
      <div class="col-md-3">
				<ul class="list-unstyled">
					<li>
						<h3 class="footer-h3 white-text"> Raleigh &amp; Co.</h3>
					</li>
					<!-- close /li -->

					<li class="white-text">
						<a href="/project-management/" class="footer-a"> Our Company</a>
					</li>
					<!-- close /li -->
					<li class="white-text">
						<a href="/product-management/" class="footer-a"> Our Story</a>
					</li>
					<!-- close /li -->
					<li class="white-text">
						<a href="/product-management/" class="footer-a"> Our Founder</a>
					</li>
					<!-- close /li -->
					<li class="white-text">
						<a href="/company/contact-us" class="footer-a"> Contact Us</a>
					</li>
					<!-- close /li -->
				</ul>
				<!-- close /ul -->
      </div>
			<!-- close /div -->
      <div class="col-md-3">
				<ul class="list-unstyled">
					<li>
						<h3 class="footer-h3 white-text"> Services</h3>
					</li>
					<!-- close /li -->
					<li class="white-text">
						<a href="/web-development/" class="footer-a"> Web Development</a>
					</li>
					<!-- close /li -->
					<li class="white-text">
						<a href="/project-management/" class="footer-a"> Project Management</a>
					</li>
					<!-- close /li -->
					<li class="white-text">
						<a href="/product-management/" class="footer-a"> Product Management</a>
					</li>
					<!-- close /li -->
					<li class="white-text">
						<a href="/copywriting/" class="footer-a"> Copywriting</a>
					</li>
					<!-- close /li -->
					<li class="white-text">
						<a href="/branding/" class="footer-a"> Branding</a>
					</li>
					<!-- close /li -->
				</ul>
				<!-- close /ul -->
      </div>
			<!-- close /div -->
		</div>
		<!-- close /div -->
		<div class="row">
      <div class="col-md-6">
				<ul class="list-unstyled">
					<li>
						<h3 class="footer-h3 white-text"> Contact Us</h3>
					</li>
					<!-- close /li -->
					<li class="white-text">
						<a href="http://www.twitter.com/robertgraleigh" class="footer-social-a">
							<i class="fa fa-twitter fa-fw"></i> @RobertGRaleigh
						</a>
						<!-- close /li -->
					</li>
					<!-- close /li -->
					<li class="white-text">
						<a href="http://www.facebook.com/raleighco" class="footer-social-a">
							<i class="fa fa-facebook fa-fw"></i> @RobertGRaleigh
						</a>
						<!-- close /li -->
					</li>
					<!-- close /li -->
					<li class="white-text">
						<a href="http://www.linkedin.com/in/raleighandco" class="footer-social-a">
							<i class="fa fa-linkedin fa-fw"></i> @RobertGRaleigh
						</a>
						<!-- close /li -->
					</li>
					<!---close /li -->
					<li class="white-text">
						<a href="http://www.instagram.com/raleighandco" class="footer-social-a">
							<i class="fa fa-instagram fa-fw"></i> Social Link One
						</a>
						<!---close /li -->
					</li>
					<!---close /li -->
					<li class="white-text">
						<a href="http://www.github.com/raleighandco" class="footer-social-a">
							<i class="fa fa-github fa-fw"></i> RaleighCo
						</a>
						<!---close /li -->
					</li>
					<!---close /li -->
				</ul>
				<!---close /ul -->
      </div>
			<!---close /div -->
      <div class="col-md-6">
				<ul class="list-unstyled">
					<li>
						<h3 class="footer-h3 white-text"> Connect</h3>
					</li>
					<!-- close /li -->
					<li class="white-text">
						<a href="http://www.twitter.com/robertgraleigh" class="footer-social-a">
							<i class="fa fa-twitter fa-fw"></i> @RobertGRaleigh
						</a>
						<!-- close /li -->
					</li>
					<!-- close /li -->
					<li class="white-text">
						<a href="http://www.facebook.com/raleighco" class="footer-social-a">
							<i class="fa fa-facebook fa-fw"></i> @RobertGRaleigh
						</a>
						<!-- close /li -->
					</li>
					<!-- close /li -->
					<li class="white-text">
						<a href="http://www.linkedin.com/in/raleighandco" class="footer-social-a">
							<i class="fa fa-linkedin fa-fw"></i> @RobertGRaleigh
						</a>
						<!-- close /li -->
					</li>
					<!---close /li -->
					<li class="white-text">
						<a href="http://www.instagram.com/raleighandco" class="footer-social-a">
							<i class="fa fa-instagram fa-fw"></i> Social Link One
						</a>
						<!---close /li -->
					</li>
					<!---close /li -->
					<li class="white-text">
						<a href="http://www.github.com/raleighandco" class="footer-social-a">
							<i class="fa fa-github fa-fw"></i> RaleighCo
						</a>
						<!---close /li -->
					</li>
					<!---close /li -->
				</ul>
				<!---close /ul -->
      </div>
			<!---close /div -->
		</div>
		<!-- close /div -->
  </div>
	<!--- close /container -->
</footer>
<!--- close /footer -->

<!-- =================
	End Footer Section
--------------------->

<!-- =============================
	Start Copyright Notice Section
 ============================= -->

<!---open section ---->
<section id="copyright-section" class="white-bg">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<p id="copyright-notice">
					<i class="fa fa-copyright fa-fw" ></i>2007 - <?php echo date("Y"); ?> <span class="currentYear">Raleigh &amp; Co, LLC.</span></p>
			</div>
			<!---close /div ---->
			<div class="col-md-4">
				<ul class="list-inline">
					<li>
						<a href="" class="uppercase"><i class="fa fa-binoculars fa-fw"></i>Privacy</a>
					</li>
					<!---close /li ---->
					<li>
						<a href="" class="uppercase"><i class="fa fa-camera-retro fa-fw"></i>Photo Credits</a>
					</li>
					<!---close /li ---->
				</ul>
				<!---close /ul ---->
			</div>
			<!---close /div ---->
			<div class="col-md-4">
				<p class="uppercase">Made with <i class="fa fa-heart fa-fw red-text"></i> in PDX</p>
			</div>
			<!---close /div ---->
		</div>
		<!---close /.row ---->
	</div>
	<!---close /.container ---->
</section>
<!---close /section ---->

<!-- ===========================
	End Copyright Notice Section
============================ -->
