<!---- open nav ---->
<nav class="navbar navbar-default navbar-static-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".main-nav">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<!---- close /button ---->			
		</div>
		<!-- close /div -->
		<div class="collapse navbar-collapse main-nav">
			<ul class="nav navbar-nav">
				<li>
					<a href="#">it1d</a>
				</li>
				<!---- close /li ---->
				<li class="divider-vertical"></li>
				<li>
					<a href="#about">it2d</a>
				</li>
				<!---- close /li ---->
				<li class="divider-vertical"></li>
				<li>
					<a href="#contact">it3d</a>
				</li>
				<!---- close /li ---->
				<li class="divider-vertical"></li>
				<li>
					<a href="#contact">it4d</a>
				</li>
				<!---- close /li ---->
				<li class="divider-vertical"></li>
				<li>
					<a href="#contact">it5d</a>
				</li>
				<!---- close /li ---->
				<li class="divider-vertical"></li>
				<!---- close /ul ---->
				<li>
					<a href="#contact">it6d</a>
				</li>
				<!---- close /li ---->
				<li class="divider-vertical"></li>
				<li>
					<a href="#contact">it7d</a>
				</li>
				<!---- close /li ---->				
			</ul>
			<!---- close /ul ---->
		</div>
		<!-- close /div -->
	</div>
	<!---- close /container ---->
</nav>
<!---- close /nav ---->