<!-- ======================
	DEFAULT NAVBAR NAVIGATION
======================= -->

<!-- START NAVBAR -->
<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<!--- close /button ---->
			<a class="navbar-brand" href="{{ site.baseurl }}/">Raleigh &amp; Co.</a>
		</div>
		<!--- close /div ---->
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-right has-form">
				<!--- close /li ---->
				<li class="dropdown">
					<a href="X" class="dropdown-toggle" data-toggle="dropdown"> About</a>
					<!--- close /a ---->
					<ul class="dropdown-menu">
						<li>
							<a href="/about/">
								<b>About Us</b>
							</a>
							<!--- close /a ---->
						</li>
						<!--- close /li ---->
						<li class="divider"></li>
						<!--- close /li ---->
						<li>
							<a href="#">
								<b>Robert's Story</b>
							</a>
							<!--- close /a ---->
						</li>
						<!--- close /li ---->
						<li class="divider"></li>
						<li>
							<a href="#">
								<b>Companies</b>
							</a>
							<!--- close /a ---->
						</li>
						<!--- close /li ---->
						<li class="divider"></li>
						<li>
							<a href="#">
								<b>Education</b>
							</a>
							<!--- close /a ---->
						</li>
						<!--- close /li ---->
						<li class="divider"></li>
						<li>
							<a href="#">
								<b>Training</b>
							</a>
							<!--- close /a ---->
						</li>
						<!--- close /li ---->
						<li class="divider"></li>
						<li>
							<a href="#">
								<b>Blog</b>
							</a>
							<!--- close /a ---->
						</li>
						<!--- close /li ---->
						<li class="divider"></li>
						<li>
							<a href="#">
								<b>Contact</b>
							</a>
							<!--- close /a ---->
						</li>
						<!--- close /li ---->
					</ul>
					<!--- close /ul ---->
				</li>
				<!--- close /li ---->
				<li class="dropdown">
					<a href="x" class="dropdown-toggle" data-toggle="dropdown"> Products</a>
					<!--- close /a ---->
					<ul class="dropdown-menu">
						<li>
							<a href="/products/">
								<b>Products</b>
							</a>
							<!--- close /a ---->
						</li>
						<!--- close /li ---->
						<li class="divider"></li>
						<!--- close /li ---->
						<li>
							<a href="#">
								<b>Websites</b>
							</a>
							<!--- close /a ---->
						</li>
						<!--- close /li ---->
						<li class="divider"></li>
						<!--- close /li ---->
						<li>
							<a href="#">
								<b>Storefronts</b>
							</a>
							<!--- close /a ---->
						</li>
						<!--- close /li ---->
						<li class="divider"></li>
						<li>
							<a href="#">
								<b>CMS</b>
							</a>
							<!--- close /a ---->
						</li>
						<!--- close /li ---->
						<li class="divider"></li>
						<li>
							<a href="#">
								<b>Blogs</b>
							</a>
							<!--- close /a ---->
						</li>
						<!--- close /li ---->
					</ul>
					<!-- close /ul -->
				</li>
				<!-- close /li -->
				<li class="dropdown">
					<a href="x" class="dropdown-toggle" data-toggle="dropdown"> Services</a>
					<!-- close /a -->
					<ul class="dropdown-menu">
						<li>
							<a href="/services/">
								<b>Services</b>
							</a>
							<!-- close /a -->
						</li>
						<!-- close /li -->
						<li class="divider"></li>
						<!-- close /li -->
						<li>
							<a href="#web-development">
								<b>Website Dev</b>
							</a>
							<!--- close /a ---->
						</li>
						<!--- close /li ---->
						<li class="divider"></li>
						<li>
							<a href="#web-design">
								<b>Web Design</b>
							</a>
							<!-- close /a -->
						</li>
						<!-- close /li -->
						<li class="divider"></li>
						<li>
							<a href="#e-commerce">
								<b>E-Commerce</b>
							</a>
							<!-- close /a -->
						</li>
						<!-- close /li -->
						<li class="divider"></li>
						<li>
							<a href="#branding">
								<b>Branding</b>
							</a>
							<!-- close /a -->
						</li>
						<!-- close /li -->
						<li class="divider"></li>
						<li>
							<a href="#">
								<b>Development</b>
							</a>
							<!--- close /a ---->
						</li>
						<!--- close /li ---->
						<li class="divider"></li>
						<li>
							<a href="#">
								<b>Management</b>
							</a>
							<!--- close /a ---->
						</li>
						<!--- close /li ---->
					</ul>
					<!--- close /ul ---->
				</li>
				<!-- close /li -->
				<li class="dropdown">
					<a href="x" class="dropdown-toggle" data-toggle="dropdown"> Companies</a>
					<!-- close /a -->
					<ul class="dropdown-menu">
						<li>
							<a href="#">
								<b>Overview</b>
							</a>
							<!-- close /a -->
						</li>
						<!-- close /li -->
						<li class="divider"></li>
						<li>
							<a href="#">
								<b>Guerilla Division</b>
							</a>
							<!-- close /a -->
						</li>
						<!-- close /li -->
						<li class="divider"></li>
						<li>
							<a href="#">
								<b>Log Camp</b>
							</a>
							<!-- close /a -->
						</li>
						<!-- close /li -->
						<li class="divider"></li>
						<li>
							<a href="#">
								<b>Intersector</b>
							</a>
							<!-- close /a -->
						</li>
						<!-- close /li -->
						<li class="divider"></li>
						<li>
							<a href="#">
								<b>Press Digital</b>
							</a>
							<!-- close /a -->
						</li>
						<!-- close /li -->
						<li class="divider"></li>
						<li>
							<a href="#">
								<b>CYGP</b>
							</a>
							<!-- close /a -->
						</li>
						<!-- close /li -->
						<li class="divider"></li>
					</ul>
					<!-- close /ul -->
				</li>
				<!-- close /li -->
				<li>
					<a href="/portfolio/"> Portfolio</a>
				</li>
				<!-- close /li -->
				<li>
					<a href="/blog/"> Blog</a>
				</li>
				<!-- close /li -->
				<li>
					<button class="btn btn-primary navbar-btn" href="#contact">Get started</a>
				</li>
				<!-- close /li -->
			</ul>
			<!-- close /ul -->
		</div>
		<!-- close /div -->
	</div>
	<!-- close /container -->
</nav>
<!-- close /nav -->

<!--
        {% for my_page in site.pages %}
          {% if my_page.title %}
          <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
          {% endif %}
        {% endfor %}
-->
