<!-- open newsletter section -->
<section id="newsletter-section" class="">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h3 class="h3-brand">Newsletter</h3>
			</div>
			<!-- close /div -->
		</div>
		<!-- close /div -->
		<div class="row">
			<div class="col-md-12">
				<form>
					<label for="FirstName">First Name</label>
					<input type="text" placeholder="First Name">
					<label for="LastName">Last Name</label>
					<input type="text" placeholder="Last Name">
					<label for="Email">Email</label>
					<input type="text" placeholder="Email">
				</form>
			</div>
			<!-- close /div -->
		</div>
		<!-- close /div -->
	</div>
	<!-- close /div -->
</section>
<!-- close /section -->