--- 
layout: landing 
permalink: /about/
title: "About"
---

<!--------------------
 START OF ABOUT HEADER 
--------------------->

<!-- open about header -->
<header id="about-header" class="rg-header">
	<div class="container">
		<div class="row">
			<div class="col-md-offset-3 col-md-6">
				<div class="panel panel-default">
					<div class="panel-body">
						<h1 class="h1-brand red-text text-center">About Us</h1>
					</div>
					<!-- close /div -->
				</div>
				<!-- close /div -->
			</div>
			<!-- close /div -->
		</div>
		<!-- close /div -->
	</div>
	<!-- close /div -->
</header>
<!-- close /header -->

<!-----------------
 CLOSE ABOUT HEADER 
------------------>

<!--------------------
 START OF ABOUT HEADER 
--------------------->

<!-- OPEN ABOUT HEADER -->
<section id="about-us" class="">
	<div class="container">
		<div class="padded-row">
			<div class="col-md-12">
				<h2 class="h2-brand red-text text-center">Who We Are</h2>
			</div>
			<!-- close /div -->
		</div>
		<!-- close /div -->
		<div class="padded-row">
			<div class="col-md-offset-2 col-md-8">
				<div class="panel panel-default">
					<div class="panel-body">
						<p class="lead black-text">Raleigh &amp; Company is a bespoke digital agency. WE solve problems for e-commerce, copywriting, blogging, and services for everyone who feels they can't afford an agency. WE fight for the little guy. The best solutions for your pbrlmebs. The profit motive.</p>
						<p class="lead black-text">We help creatives, nonprofits, and small businesses get over the web issue. Get over your web issues.These are the most common challenges you'll face when you work with Raleigh &amp; Company.</p>
					</div>
					<!-- close /div -->
				</div>
				<!-- close /div -->
			</div>
			<!-- close /div -->
		</div>
		<!-- close /div -->
	</div>
	<!-- close /div -->
</header>
<!-- CLOSE /HEADER -->

<!------------------
 END OF ABOUT HEADER 
------------------->

<!-- start what we do section -->
<section id="about-us" class="">
	<div class="container">
		<div class="padded-row">
			<div class="col-md-12">
				<h2 class="h2-brand red-text text-center">What We Do</h2>
			</div>
			<!-- close /div -->
		</div>
		<!-- close /div -->
		<div class="padded-row">
			<div class="col-md-offset-2 col-md-8">
				<div class="panel panel-default">
					<div class="panel-body">
						<p class="lead black-text">Raleigh &amp; Company is a bespoke digital agency. WE solve problems for e-commerce, copywriting, blogging, and services for everyone who feels they can't afford an agency. WE fight for the little guy. The best solutions for your pbrlmebs. The profit motive.</p>
						<p class="lead black-text">We help creatives, nonprofits, and small businesses get over the web issue. Get over your web issues.These are the most common challenges you'll face when you work with Raleigh &amp; Company.</p>
						<p class="lead black-text">At Raleigh &amp; Company, we furnish your creative practice with web development, web hosting, branding, copywriting, </p>
					</div>
					<!-- close /div -->
				</div>
				<!-- close /div -->
			</div>
			<!-- close /div -->
		</div>
		<!-- close /div -->
	</div>
	<!-- close /div -->
</section>
<!-- close /header section -->

<!-- start who we serve section -->
<section id="who-we-serve" class="">
	<div class="container">
		<div class="padded-row">
			<div class="col-md-12">
				<h2 class="h2-brand red-text text-center">Who We Serve</h2>
			</div>
			<!-- close /div -->
		</div>
		<!-- close /div -->
		<div class="padded-row">
			<div class="col-md-offset-2 col-md-8">
				<div class="panel panel-default">
					<div class="panel-body">
						<p class="lead black-text">At, Raleigh &amp; Company we focus on individual entrepreneurs to meet their growing online demands. We support the growth of your business . We focus on small budgets for artists, small business owners, government, is a bespoke digital agency. WE solve problems for e-commerce, copywriting, blogging, and services for everyone who feels they can't afford an agency. WE fight for the little guy. The best solutions for your pbrlmebs. The profit motive.</p>
						<p class="lead black-text">We help creatives, nonprofits, and small businesses get over the web issue. Get over your web issues.These are the most common challenges you'll face when you work with Raleigh &amp; Company.</p>
						<p class="lead black-text">At Raleigh &amp; Company, we feel our ideal clients, who struggle with meeting the demands of updating and maintaining your own website. We also help small businesses take control of the payment process.furnish your creative practice with web development, web hosting, branding, copywriting, </p>
					</div>
					<!-- close /div -->
				</div>
				<!-- close /div -->
			</div>
			<!-- close /div -->
		</div>
		<!-- close /div -->
	</div>
	<!-- close /div -->
</section>
<!-- close who we serve /section -->

<!---------------------------
 START ROBERT'S STORY SECTION  
---------------------------->

<!-- open robert's story section -->
<section id="roberts-story" class="red-bg">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2 class="h2-brand white-text text-center">Robert's Story</h2>
			</div>
			<!-- close /div -->
		</div>
		<!-- close /div -->
		<div class="padded-row">
			<div class="col-md-offset-2 col-md-8">
				<p class="lead white-text">Robert Raleigh is a self-taught Web Developer. Robert is a first-generation college student. At age 14, Robert helped launch the Corvallis Youth Garden Project, a sustainable food initiative. He manages small-to-mid size teams and projects, with experience in social justice, and working within the community.</p>
				<p class="lead white-text">Robert Raleigh is an experienced Web Developer, with managing projects, and moving forward. Robert excels at working within small teams,</p>
				<p class="lead white-text">In 2012, Robert started Log Camp, a vocational training program for low-income, minority, foster, and at-risk youth.  is an experienced Web Developer, with managing projects, and moving forward. Robert excels at working within small teams,</p>
			</div>
			<!-- close /div -->
		</div>
		<!-- close /.row -->
	</div>
	<!-- close /div -->
</section>
<!-- close /section -->

<!-----------------------------
	End of Robert's Story Section  
------------------------------>

<!--------------------------
	Start of Education Section  
--------------------------->

<!-- open education section -->
<section id="education-section" class="white-bg">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2 class="h2-brand text-center">Education</h2>
			</div>
			<!-- close /div -->
		</div>
		<!-- close /div -->
		<div class="padded-row">
			<div class="col-md-offset-3 col-md-6">
				<div class="list-group">
					<li class="list-group-item">
						<span class="large-text black-text">
							<i class="fa fa-building fa-fw"></i> Institution: Portland State University
						</span>
						<!-- /span -->						
						<br>
						<span class="large-text black-text">
							<i class="fa fa-file fa-fw"></i> Degree: Bachelor of Arts, English
						</span>
						<!-- /span -->
						<br>
						<span class="large-text black-text">
							<i class="fa fa-star fa-fw"></i> Concentration: Professional Writing
						</span>
						<!-- /span -->
						<br>
						<span class="large-text black-text">
							<i class="fa fa-calendar fa-fw"></i> 
							Year: Graduated 2006
						</span>
						<!-- /span -->
					</li>
					<!-- close /li -->
					<li class="list-group-item">
						<span class="large-text black-text">
							<i class="fa fa-building fa-fw"></i> 
							Institution: Portland Community College
						</span>
						<!-- /span -->
						<br>
						<span class="large-text black-text">
							<i class="fa fa-file fa-fw"></i> 
							Certificate: Project Management
						</span>
						<!-- /span -->
						<br>
						<span class="large-text black-text">
							<i class="fa fa-calendar fa-fw"></i> Year: 2011 - 2013
						</span>
						<!-- /span -->
						<br>
					</li>
					<!---- close /li ---->
					<li class="list-group-item">
						<span class="large-text black-text">
							<i class="fa fa-building fa-fw"></i> 
							Institution: Portland Community College
						</span>
						<!-- /span -->
						<br>
						<span class="large-text black-text">
							<i class="fa fa-file fa-fw"></i> 
							Certificate: Leadership
						</span>
						<!-- /span -->
						<br>
						<span class="large-text black-text">
							<i class="fa fa-calendar fa-fw"></i> 
							Year: 2011 - 2013
						</span>
						<!-- /span -->
						<br>
					</li>
					<!-- close /li -->
				</div>
				<!-- close /div -->
			</div>
			<!-- close /div -->
		</div>
		<!-- close /div -->
	</div>
	<!-- close /div -->
</section>
<!-- close /section -->

<!------------------------
	End of Education Section  
------------------------->

<!-------------------------
	Start of Training Section 
-------------------------->

<!-- open education section -->
<section id="education-section" class="white-bg">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2 class="h2-brand text-center">Training</h2>
			</div>
			<!-- close /div -->
		</div>
		<!-- close /div -->
		<div class="padded-row">
			<div class="col-md-offset-3 col-md-6">
				<div class="list-group">
					<li class="list-group-item">
						<span class="large-text black-text">
							<i class="fa fa-building fa-fw"></i> Organization: Treehouse
						</span>
						<!-- /span -->						
						<br>
						<span class="large-text black-text">
							<i class="fa fa-file fa-fw"></i> Certificate: Front-End Development
						</span>
						<!-- /span -->
						<br>
							<span class="large-text black-text">
							<i class="fa fa-file fa-fw"></i> Certificate: Full-Stack Development
						</span>
						<!-- /span -->
						<br>
						<span class="large-text black-text">
							<i class="fa fa-calendar fa-fw"></i> 
							Year: Completed 2015
						</span>
						<!-- /span -->
					</li>
					<!-- close /li -->
					<li class="list-group-item">
						<span class="large-text black-text">
							<i class="fa fa-building fa-fw"></i> 
							Institution: Portland Community College
						</span>
						<!-- /span -->
						<br>
						<span class="large-text black-text">
							<i class="fa fa-file fa-fw"></i> 
							Certificate: Project Management
						</span>
						<!-- /span -->
						<br>
						<span class="large-text black-text">
							<i class="fa fa-calendar fa-fw"></i> Year: 2011 - 2013
						</span>
						<!-- /span -->
						<br>
					</li>
					<!---- close /li ---->
					<li class="list-group-item">
						<span class="large-text black-text">
							<i class="fa fa-building fa-fw"></i> 
							Institution: Portland Community College
						</span>
						<!-- /span -->
						<br>
						<span class="large-text black-text">
							<i class="fa fa-file fa-fw"></i> 
							Certificate: Leadership
						</span>
						<!-- /span -->
						<br>
						<span class="large-text black-text">
							<i class="fa fa-calendar fa-fw"></i> 
							Year: 2011 - 2013
						</span>
						<!-- /span -->
						<br>
					</li>
					<!-- close /li -->
				</div>
				<!-- close /div -->
			</div>
			<!-- close /div -->
		</div>
		<!-- close /div -->
	</div>
	<!-- close /div -->
</section>
<!-- close /section -->

<!------------------------
 End of Training Section 
------------------------->

<hr>

<!----------------------------
 Start of Testimonials Section 
----------------------------->

{% include testimonials.html %}

<!--------------------------
 End of Testimonials Section 
--------------------------->

<!--------------------------
 START OF NEWSLETTER SECTION 
--------------------------->

{% include newsletter.html %}

<!------------------------
 END OF NEWSLETTER SECTION 
------------------------->

<!--------------------------
 Start of Contact Us Section 
--------------------------->

{% include contact-us.html %}

<!-------------------------
	Close of Training Section 
-------------------------->

<!-------------------
 End of About Section 
-------------------->