<!DOCTYPE html>
<!-- open html -->
<html>

  {% include head.html %}

	<!-- open body -->	
  <body class="white-bg">

    {% include nav.html %}

    {{ content }}

    {% include footer.html %}
		
		<!-- JQuery Javascript Library -->
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
		<script type="text/javascript" src="/js/jquery-2.1.4.min.js"></script>
		
		<!-- Bootstrap Javascript Library -->
		<script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>	
		<script type="text/javascript" src="/js/bootstrap.min.js"></script>
  
	</body>
	<!-- close /html -->
	
</html>
<!-- close /html -->